<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="data"/>
                    <add segment="data"/>
                    <remove segment="session"/>
                    <add segment="session"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
